body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:0px;
  width:429px;
  height:839px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u2 {
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:44px;
  top:105px;
  width:360px;
  height:25px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:44px;
  top:699px;
  width:360px;
  height:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:44px;
  top:129px;
  width:360px;
  height:570px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u8 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:44px;
  top:130px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:44px;
  top:130px;
  width:360px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:172px;
  top:143px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:54px;
  top:200px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:44px;
  top:222px;
  width:356px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u18 {
  position:absolute;
  left:54px;
  top:242px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:44px;
  top:264px;
  width:356px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u21 {
  position:absolute;
  left:56px;
  top:284px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:46px;
  top:306px;
  width:356px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u24 {
  position:absolute;
  left:56px;
  top:326px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:46px;
  top:348px;
  width:356px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u27 {
  position:absolute;
  left:55px;
  top:368px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:45px;
  top:390px;
  width:356px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u30 {
  position:absolute;
  left:55px;
  top:410px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:45px;
  top:432px;
  width:356px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u33 {
  position:absolute;
  left:57px;
  top:452px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:47px;
  top:474px;
  width:356px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u36 {
  position:absolute;
  left:57px;
  top:494px;
  width:336px;
  height:22px;
  font-size:18px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:319px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:47px;
  top:516px;
  width:356px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:339px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:356px;
  height:1px;
}
#u39 {
  position:absolute;
  left:44px;
  top:660px;
  width:359px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:355px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:54px;
  top:140px;
  width:36px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
